body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #BBE1FA;
  }
  
ul {
  padding-left: 30px;
  list-style: none;
}
  
.board-row:after {
  clear: both;
  content: "";
  display: table;
}


.square {
  color: #FFD369;
  background: #00909E;
  border: 1px solid #BBE1FA;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 75px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 0;
  text-align: center;
  width: 75px;
}

.square:focus {
  outline: none;
}

.square:hover {
  background: #06afbe;
}

.status{
color: #ca5b5b;
font-size: 20px;
font-weight: bold;
}

button.jump{
  background-color: #cc7070;
  margin-bottom: 10px;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button.jump:hover{
  background-color: #d69292;
}

button.jump:active{
  transform: translateY(2px);
  animation-delay: 1ms;
  }

button.restartPage {
  background-color: #29495a;
  margin-top: 30px;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

div.restart{
  display: flex;
  justify-content: center ;
}

button.restartPage:hover{
  background-color: #48748c;
}

button.restartPage:active{
transform: translateY(2px);
animation-delay: 1ms;
}


.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.game-info {
  margin-left: 100px;
}
  